{% extends 'base.html.twig' %}


{% block body %}

<div class="body-content outer-top-xs">
	<div class="container">
		<div>
			<div class="shopping-cart">
				<div class="shopping-cart-table ">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th class="cart-romove item">Retirer</th>
					<th class="cart-description item">Image</th>
					<th class="cart-product-name item">Description</th>
					<th class="cart-edit item">Editer</th>
					<th class="cart-qty item">Quantité</th>
					<th class="cart-sub-total item">Total</th>
					<th class="cart-total last-item">Total+Livraison</th>
				</tr>
			</thead><!-- /thead -->
			<tfoot>
				<tr>
					<td colspan="7">
						<div class="shopping-cart-btn">
							<span class="">
								<a href="#" class="btn btn-upper btn-primary outer-left-xs">Continuer Achat</a>
								<a href="#" class="btn btn-upper btn-primary pull-right outer-right-xs">Modifier panier</a>
							</span>
						</div><!-- /.shopping-cart-btn -->
					</td>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<td class="romove-item"><a href="#" title="cancel" class="icon"><i class="fa fa-trash-o"></i></a></td>
					<td class="cart-image">
						<a class="entry-thumbnail" href="detail.html">
						    <img src="{{asset('images/pack/pack-alimentaire-small.jpg')}}" alt="">
						</a>
					</td>
					<td class="cart-product-name-info">
						<h4 class='cart-product-description'><a href="detail.html">Teuuusss life</a></h4>
					
						<div class="cart-product-info">
											<span class="product-color">lorem:<span>ipumm</span></span>
						</div>
					</td>
					<td class="cart-product-edit"><a href="#" class="product-edit">Editer</a></td>
					<td class="cart-product-quantity">
						<div class="quant-input">
				                <div class="arrows">
				                  <div class="arrow plus gradient"><span class="ir"><i class="icon fa fa-sort-asc"></i></span></div>
				                  <div class="arrow minus gradient"><span class="ir"><i class="icon fa fa-sort-desc"></i></span></div>
				                </div>
				                <input type="text" value="1">
			              </div>
		            </td>
					<td class="cart-product-sub-total"><span class="cart-sub-total-price">3000F</span></td>
					<td class="cart-product-grand-total"><span class="cart-grand-total-price">3000F</span></td>
				</tr>
				<tr>
					<td class="romove-item"><a href="#" title="cancel" class="icon"><i class="fa fa-trash-o"></i></a></td>
					<td class="cart-image">
						<a class="entry-thumbnail" href="detail.html">
						    <img src="{{asset('images/pack/téléchargement (7).jfif')}}" alt="">
						</a>
					</td>
					<td class="cart-product-name-info">
						<h4 class='cart-product-description'><a href="detail.html">Meww</a></h4>
						
						<div class="cart-product-info">
						<span class="product-color">lorfm:<span>ipom</span></span>
						</div>
					</td>
					<td class="cart-product-edit"><a href="#" class="product-edit">Editer</a></td>
					<td class="cart-product-quantity">
						<div class="cart-quantity">
							<div class="quant-input">
				                <div class="arrows">
				                  <div class="arrow plus gradient"><span class="ir"><i class="icon fa fa-sort-asc"></i></span></div>
				                  <div class="arrow minus gradient"><span class="ir"><i class="icon fa fa-sort-desc"></i></span></div>
				                </div>
				                <input type="text" value="1">
			              </div>
			            </div>
		            </td>
					<td class="cart-product-sub-total"><span class="cart-sub-total-price">3000F</span></td>
					<td class="cart-product-grand-total"><span class="cart-grand-total-price">3000F</span></td>
				</tr>
			</tbody><!-- /tbody -->
		</table><!-- /table -->
	</div>
</div><!-- /.shopping-cart-table -->			

<div class="col-lg-12 col-md-4 col-sm-12">
<div class="cart-shopping-total">
	<table class="table">
		<thead>
			<tr>
				<th>
					<div class="cart-sub-total">
						Total<span class="inner-left-md">6000F</span>
					</div>
					<div class="cart-grand-total">
						Total+Livraison<span class="inner-left-md">9000F</span>
					</div>
				</th>
			</tr>
		</thead><!-- /thead -->
		<tbody>
				<tr>
					<td>
						<div class="cart-checkout-btn pull-right">
							<button type="submit" class="btn btn-primary checkout-btn">Commander</button>
							<span class="">Addresse de livraison!</span>
						</div>
					</td>
				</tr>
		</tbody><!-- /tbody -->
	</table><!-- /table -->
    </div>
</div><!-- /.cart-shopping-total -->		
	</div><!-- /.shopping-cart -->
		</div> <!-- /.row -->
		<!-- ============================================== BRANDS CAROUSEL ============================================== -->

<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->	</div><!-- /.container -->
</div><!-- /.body-content -->

{% endblock %}
