
{% extends '@EasyAdmin/page/content.html.twig' %}

        {% block body %}
{% block sidebar %}
    {# ... #}
{% endblock %}
<div class="text-center">
    <div class="jumbotron">
        <h1>Bienvenue dans notre espace d'administration</h1>
        <p>Faites gaffe à vos modifications</p>
    </div>
</div>
        {% endblock %}
  